@charset "UTF-8";

@font-face {
    font-family: 'Idroid';
    src: url('idroid.otf') format('opentype');
}
body { 
font-family: '';
}
header {
    background-color: #066506;
    padding: 10px;
    margin: -10px;
}